<!DOCTYPE html>

<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<a href="/">Main page</a>

<div class="container">
  <h1>Type in the ISBN of the book you wish to import to database</h1>
  <form action="/imported" method="POST">
    <div class="fields">
      <span>
       <input placeholder="ISBN" type="text" name="isbn" />
    </span>
   </div>
   <div class="submit">
     <input class="submit" value="Import" type="submit" />
   </div>


<h1>Results from googlebooks api:</h1>

<table id = "books">
<tr> 
  <th>ISBN</th>
  <th>Title</th>
  <th>Author</th>
  <th>Pages</th>
  <th>Cover</th>
  <th>Language</th>
  <th>Date of publication</th>
</tr>
</table>
</body>

<script>

let sq = JSON.parse('{{dataq | tojson | safe}}').necessery
console.log(sq)
sq = sq.map(p => [p.isbn, p.title, p.author, p.number_of_pages, p.cover, p.language, p.date_of_publication])
console.log(sq)
createTable(sq)
function createCell(text, r){
  const cell = document.createElement("TD");
  const cellText = document.createTextNode(text);
  cell.appendChild(cellText);
  r.appendChild(cell);
}
function createTable(data){
  for (let i = 0; i < data.length; i++){
    const row = document.createElement("TR");
    data[i].forEach(value => createCell(value, row))
    document.getElementById("books").appendChild(row);
  }
}
</script>
</html>