<!DOCTYPE html>

<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<body>
    <a href="/">Main page</a>
    <div class="container">
        <h1>Type in the data to search in googlebooks api (fields that remain empty are ignored)</h1>
        <form action="/googleapisearchresuls" method="POST">
          <div class="fields">
            <span>
              <input placeholder="unspecified search (type anything about the book)" type="text" name="anything" />
           </span>
           <br />
            <span>
             <input placeholder="ISBN" type="text" name="isbn" />
          </span>
          <br />
           <span>
             <input placeholder="title of the book" type="text" name="title"/>
          </span>
          <br />
           <span>
             <input placeholder="book author" type="text" name="author"/>
          </span>
          <div class="submit">
            <input class="submit" value="search" type="submit" />
          </div>
        </form>
      </div>
</html>