<!DOCTYPE html>

<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<body>
    <a href="/add">Add a book</a> &nbsp; <a href="/edit">Edit a book</a> &nbsp; <a href="/import">Import a book from googlebooks api</a>

    <div class="container">
        <h1></h1>
        <form action="/search" method="POST">
          <div class="fields">
           <span>
             <input placeholder="title of the book" type="text" name="title"/>
          </span>
          <br />
           <span>
             <input placeholder="book author" type="text" name="author"/>
          </span>
          <br />
          <span>
            <input placeholder="language of the book" type="text" name="language"/>
         </span>
         <br />
           <span>
             <input placeholder="from date (dd-mm-rrrr)" type="text" name="date1"/>
          </span>
          <br />
           <span>
             <input placeholder="to date (dd-mm-rrrr)" type="text" name="date2"/>
          </span>
          </div>
          <div class="submit">
            <input class="submit" value="Search" type="submit" />
          </div>
        </form>
      </div>

<h1> </h1>

<table id = "books">
<tr> 
  <th>ISBN</th>
  <th>Title</th>
  <th>Author</th>
  <th>Pages</th>
  <th>Cover</th>
  <th>Language</th>
  <th>Date of publication</th>
</tr>
</table>
</body>

<script>
const sq = '{{searchq}}'.replace("amp;","").replace("amp;","").replace("amp;","").replace("amp;","").replace("amp;","")
console.log(sq)
if (sq == "")
{
  fetch('/api/bookslist')
  .then(res => res.json())
  .then(data => createTable(data))
}
else
{
  fetch('/api/bookslist/search'+sq)
  .then(res => res.json())
  .then(data => createTable(data))
}
function createCell(text, r){
  const cell = document.createElement("TD");
  const cellText = document.createTextNode(text);
  cell.appendChild(cellText);
  r.appendChild(cell);
}
function createTable(data){
  for (let i = 0; i < data.length; i++){
    const row = document.createElement("TR");
    Object.values(data[i]).forEach(value => createCell(value, row))
    document.getElementById("books").appendChild(row);
  }
}

</script>
</html>